<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Stark Industries</title>
</head>
<body>
	<header><img src='/img/logo3.png' alt='Stark Industries Logo' height="130" width="768"></header>
	{{{body}}}
</body>
</html>